<div id="header">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <%= link_to 'Devise Test', root_path, class: 'pure-menu-heading' %>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </div>
</div>

    <li><%= link_to 'register', new_user_registration_path %></li>
    <li><%= link_to 'sign in', new_user_session_path %></li>
