.logout {
  font-weight: 400 !important;
  font-variant: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  border: 1px solid #eee;
  margin: 0;
  padding: 0.6em 1em;
  z-index: 201;
  white-space: nowrap;

  overflow: hidden;
}

.logout li {
  display: inline;
}

.logout a {

}

@media screen and (min-width: 40em) {
  .logout {

  }

  .logout li {

  }
}